//APP
ENVIRONMENT=test
PORT=5006
BACKEND_URL= http://localhost:5005
COOKIE_SECRET=123dsfe
DOMAIN_NAME=domain.com
BOT_TOKEN=token
LOGGER_TELEGRAM_BOT_TOKEN=token
LOGGER_TELEGRAM_CHAT_ID=YOUR_CHAT_ID

//DATABASE
DATABASE_URL=postgresql_url

//JWT
JWT_ACCESS_SECRET=waccess123
JWT_REFRESH_SECRET=rwefresh123
JWT_ACCESS_TIME=1d
JWT_REFRESH_TIME=30d

//SENTRY
SENTRY_DNS=sentry_dsn

//HEALTH_CHECK_TOKEN
HEALTH_CHECK_TOKEN=token
PUSH_AUTH_GUARD=token

